body {
    background: #000;
    color: #fff;
    margin: 0; 
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    text-align: left;
    padding: 3em 0 3em 0;
}
header {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
h2 {
    font-size: 3.5em;
    line-height: 1em;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 187, 0);
    margin: 0;
}

h1 {
    font-size: 3em;
    font-family: 'Lobster', cursive;
    margin: 0;
}

#text_box {
    display: block;
    width: fit-content;
    height: fit-content;
    position: absolute;
    /* background: #465; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 4vw;
    position: absolute;
    overflow: hidden;
}